.icon-nerd-scholar { background-image: url(png/nerd-scholar.png); background-repeat: no-repeat; }

.icon-nerdwallet { background-image: url(png/nerdwallet.png); background-repeat: no-repeat; }

.icon-NYtimes { background-image: url(png/NYtimes.png); background-repeat: no-repeat; }